html
{
	scroll-behavior: smooth;
}

body
{
	padding: 0;
	margin: 0;
	transition: color 0.3s;
}
#wrapper
{
}

 
/* ---------------------------------------------------------------- SCROLL BAR */
/*
body::-webkit-scrollbar
{
	width: 15px;
}
body::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 2px 2px var(--lightbackground);
}
body::-webkit-scrollbar-thumb
{
	color: var(--lightbackground);
	box-shadow: inset 0 0 0 10000px;
	border: 4px solid transparent;
	border-radius: 10000px;

}
body::-webkit-scrollbar-thumb:hover
{
	color: var(--elightbackground);
}
body::-webkit-scrollbar-corner
{
	background: var(--background);
	color: var(--background);
}
*/


/* ---------------------------------------------------------------- FRONT PAGE */
#frontPage
{
	height: 100%;
	width: 100%;
	position: absolute;
	background-image: url("logo_img.png"), url("background_1.jpg");
	background-attachment: scroll, fixed;
	background-size: 150px 150px, cover;
	background-position: 50% 10%, center;
	background-repeat: no-repeat, no-repeat;

	color: white;
	align-content: center;
	
	font-family: Gilroy, sans-serif;
}
#frontPageInformation
{
	width: 100%;
	height: 100%;
	background: hsla(300, 14%, 43%, 0.6);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#frontPageTitle
{
	color: #5a2dc4;
	text-shadow: 2px 2px 1px #ffddff, -2px -2px 1px #ffddff, -2px 2px 1px #ffddff, 2px -2px 1px #ffddff;
	padding: 0;
	margin: 0;
}
.frontPageSubtitle
{
	color: #f0b0ff;
	text-shadow: 2px 2px 1px #5a2dc4, -2px -2px 1px #5a2dc4, -2px 2px 1px #5a2dc4, 2px -2px 1px #5a2dc4;
	padding: 0;
	margin: 0;
}
#frontPageButton
{
	margin-top: 0.5em;
	padding-top: 0.1em;
	font-family: Gilroy;
	font-size: 2.5em;
	font-weight: 700;

	background: #3b009f;
	border-radius: 10000px;
	color: white;
	border: 5px solid #3b009f;

	position: relative;
	width: 7em;
	height: 2.5em;
	transition: 0.5s;
	cursor: pointer;
}
#frontPageButton:hover
{
	height: 2.08333333333em;
	margin-top: 0.41666666666em;
	width: 5.83333333333em;
	font-size: 3em;
	color: #3b009f;
	background: #f0b0ff;
}

/* ---------------------------------------------------------------- HEADER */

#headerBar
{
	height: 50px;
	z-index: 1;
	width: 100%;
	/*
	background: #5a2dc4;
	color: #f0b0ff;
	*/
	background: black;
	color: #f0b0ff;
	
	font-family: Gilroy, sans-serif;
}
.headerNoStick
{
	position: absolute;
	top: 100%;
}
.headerStick
{
	position: fixed;
	top: 0%;
}

.headerBarLeft
{
	height: 100%;
	float: left;
	font-weight: 500;
	cursor: pointer;
}
.headerBarLeft img
{
	height: 100%;
	width: auto;
	float: left;
}
.headerBarLeft p
{
	float: left;
}
.headerBarLeft:hover
{
	font-weight: 700;
}

.headerBarElement
{
	font-weight: 500;
	font-size: 1em;
	position: relative;
	float: right;
	padding: 0 1em;

	text-align: center;
	align-content: center;
	cursor: pointer;
}
.headerBarElement p
{
	display: block;
	width: 100%;
}
.headerBarElement p:before, .headerBarElement p:after
{
	display: block;
	content: attr(disp);
	color: transparent;
	height: 0px;
	overflow: hidden;
}
.headerBarElement p:before {font-weight: 500;}
.headerBarElement p:after {font-weight: 700;}
.headerBarElement:hover
{
	font-weight: 700;
}

/* ---------------------------------------------------------------- GENERAL INFORMATION */
#information
{
	position: absolute;
	top: 110%;
	width: 100%;
	--color1: #0000000c;
	background: linear-gradient(204deg,
		#00000000 600px, var(--color1) 600px, var(--color1) 650px, #00000000 650px,
		#00000000 700px, var(--color1) 700px, var(--color1) 750px, #00000000 750px),
			linear-gradient(172deg,
		#00000000 670px, var(--color1) 670px, var(--color1) 720px, #00000000 720px,
		#00000000 770px, var(--color1) 770px, var(--color1) 820px, #00000000 820px);
}
.separator
{
	width: 80%;
	left: 10%;
	height: 0.2em;
	margin: auto;
	cursor: pointer;
	
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: none;
	border-right: none;
	
	overflow: visible;
	text-align: center;
	font-family: Montserrat, sans-serif;
	font-weight: 300;
}
.separator:before
{
	content: "BACK TO TOP";
	position: relative;
	top: -0.5em;
	font-size: 1em;
	background: white;
	padding: 0 1em;
}
.infoSection
{
	position: relative;
	padding: 5%;
	overflow: auto;
}
.infoHeader
{
	display: inline-block;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
	border-radius: 10000px;
	
	font-family: Montserrat, sans-serif;
	font-size: 6em;
	font-weight: 700;
	color: #5a2dc4;
}
.infoContent
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.infoBox
{
	border-radius: 5px;
	max-width: 100%;
	min-width: 300px;
	padding: 40px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 40px;
	
	color: #d6fffe;
	
	text-align: justify;
	
	flex-wrap: nowrap;
	flex: 1 1 300px;
	
}


/* ---------------------------------------------------------------- ABOUT */

#about
{
}
#aboutHeader
{
}
#aboutContent
{
	margin-top: 15px;
	background: #5a2dc4;
	border-radius: 5px;
}
.aboutBox
{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
}

/* ---------------------------------------------------------------- FAQ */

#FAQHeader
{
}
#FAQContainer
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}
.FAQBox
{
	min-width: 300px;
	
	padding: 1em;
	border-radius: 5px;
	margin: 10px;
	
	flex: 1 1 400px;
	text-align: left;
	transition: background 0.5s;
	
	color: hsla(330, 20%, 45%, 1);
}
.FAQBox:hover
{
	background: #5a2dc410;
}
.FAQBoxOn
{
	background: #5a2dc410;
}
.FAQBox h1
{
	font-size: 1.8em;
	font-family: Montserrat, sans-serif;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}
.FAQBox p
{
	/*margin-bottom: 10px;*/
	font-family: Open Sans, sans-serif;
	text-align: justify;
	padding: 0 1em;
	
	margin: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-in-out;
	max-height: 0px;
}
.FAQBox .FAQBoxOnP
{
	max-height: 13em;
}

/* ---------------------------------------------------------------- Sponsors */
#Sponsor
{
}
#SponsorHeader
{
}


/* ---------------------------------------------------------------- Schedule */

#Sched
{
}
#SchedHeader
{
}

/* ---------------------------------------------------------------- Awards */

#Award
{
}
#AwardHeader
{
}

/* ---------------------------------------------------------------- Our Team */

#Team
{
}
#TeamHeader
{
}
#TeamContent
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.TeamMember
{
	display: block;
	min-width: 300px;
	height: 400px;
	margin: none;
	padding: none;
	flex: 1 1 400px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.TeamMemberWrap
{
	width: 250px;
	background: #5a2dc4;
	color: #d6fffe;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 2em 1em 2em 1em;
	border-radius: 200px 200px 50px 50px;
}
.TeamMemberWrap img
{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	margin: none;
	padding: none;
	display: block;
}
.TeamMemberWrap h1
{
	margin: 10px 0px 0px 0px;
	padding: 0;
	font-family: Montserrat, sans-serif;
	font-weight: 900;
}
.TeamMemberWrap p
{
	margin: 0;
	padding: 0;
	font-family: Montserrat, sans-serif;
	font-weight: 300;
}
