:root
{
	--background: rgb(67, 13, 87);
}

body
{
	background-color: var(--background);
	color: white;

	padding: 0;
	margin: 0;
	
}
.preload
{
	transition: none !important;
}
 
/* ---------------------------------------------------------------- SCROLL BAR */
::-webkit-scrollbar
{
	/*background: var(--background);*/
	background: transparent;
	width: 4px;
	position: fixed;
}
::-webkit-scrollbar-thumb
{
	background: rgb(255,255,255,0.3);
	border-radius: 10000px;
}

/* ---------------------------------------------------------------- FRONT PAGE */
#frontPage
{
	height: 100%;
	width: 100%;
	position: absolute;
}
#frontPageInformation
{
	text-align: center;
	position: relative;
	top: 20%;
	height: 60%;

	font-family: Impact;
}
#frontPageTitle
{
	font-size: 100px;
height: 20%;
}
#frontPageSubtitle
{
}
#frontPageButton
{
	font-family: inherit;
	font-size: 40px;

	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 10000px;
	color: white;
	border: none;

	position: relative;
	width: 30%;
	height: 20%;
	transition: 0.5s;
}
#frontPageButton:hover
{
	font-size: 50px;
}

/* ---------------------------------------------------------------- HEADER */
